#slider {
    position: fixed;
    z-index: 99999999999;
    top: 0px;
    right: -30px;
    background-color : rgb(255, 255, 255);
    width : 0px;
    transition: 0.5s;
    height: 100vh; 
    overflow-y : auto;
    padding: 20px;
    border: 1px solid black;
}
#sheader {
    top: 0;
    color: black;
}

#sbodycontainer {
    color: black;
}

#objectvalue{
    height: 400px;
    outline: none;
    border: none;
}

#objectvalue:focus{
    outline: none;
}
